In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [10]:
def load_data(filename, nrows=None):
    if nrows is None:
        data = pd.read_csv(filename, sep=',', header=None, skiprows=6, usecols=[0,5])
    else:
        data = pd.read_csv(filename, sep=',', header=None, skiprows=6, nrows=nrows, usecols=[1,5])
    return data

In [11]:
df = load_data('50k_data_3.csv')
df

              0        5
0          Beta  0.00000
1           CDi -0.00001
2           CDo  0.04516
3         CDtot  0.04516
4     CDtrefftz  0.00000
...         ...      ...
4054        Cmz      NaN
4055    Comp_ID      NaN
4056  Comp_Name      NaN
4057         Cs      NaN
4058       Mach      NaN

[4059 rows x 2 columns]

In [ ]:
df.alpha